.App {
  text-align: center;
}

button {
  border: 2px solid #ccc;
}

button:hover {
  cursor: pointer;
}

#calculator {
  margin: 2em auto auto auto;
  width: 25em;
  height: 35em;
  border: 4px solid #ccc;
  background: #e7e7e7;
  border-radius: 0.75em;
}

#calculator .display {
  position: relative;
  width: 65%;
  height: 1em;
  background: #000;
  margin: 1em auto 0.25em;
  padding: 0.5em;
  font-size: 3em;
  text-align: right;
  color: #ccc;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  border-radius: 0.15em;
  border: 2px solid #666;
}

#calculator .numberPad {
  display: grid; 
  width: 80%;
  margin: 0 auto;
  grid-gap: 5px 10px;
  grid-template-columns: auto auto auto;
}

#calculator .numberPad button {
  height: 5em;
  width: 6em;
}
