.App {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.pixel {
  height: 20px;
  width: 20px;
  margin: 1px;
}

.pixel.active:hover {
  cursor: pointer;
}

.pixel.disabled:hover {
  cursor: not-allowed;
}